*{
	padding: 0;
	margin: 0;
}

.top{
	color:#737373;
	height: 100px;
	float: right;
	padding-right: 40px;
    padding-top: 20px;
    position: relative;
    font-family: Arial, sans-serif;
    line-height: 24px;
}

th, td {
    padding: 0.11em;
    background-color: #737373;
    padding:0.1em;
}

.top a{
	text-decoration: none;
    color:#737373;
}

.top li{
list-style-type: none;
}

.top p,ul,table{
	padding: 6.2px;
	position: relative;
	cursor: pointer;

}

table{
	top: -10px;
	position: relative;
}

table tr td{
	padding: 0.12em;
}

.top p,ul{
	font-size: 13px;
}