*{
	padding: 0;
	margin: 0;
}

.top{
	color:#737373;
	height: 100px;
	float: right;
	padding-right: 30px;
    padding-top: 20px;
    position: relative;
    font-family: Arial, sans-serif;
    line-height: 24px;
    width: 232px;

}

th, td {
    padding: 0.11em;
    background-color: #737373;
    padding:0.1em;
}

.top a{
	text-decoration: none;
    color:#737373;
}

.top li{
list-style-type: none;
}

.top p,ul,table{
	padding: 6.2px;
	position: relative;
	cursor: pointer;

}

table{
	top: -10px;
	position: relative;
}

table tr td{
	padding: 0.12em;
}

.top p,ul{
	font-size: 13px;
}

.top p:hover {
	text-decoration: underline;
	opacity: .85;
}

table tr:hover {
	background:#104171;
}

.top ul{
	background: #4484f1;
	border-radius: 2.5px;
	padding: 3% 5.5%;
    font-weight: bold;
    line-height: 28px

}

.top a{
	color: white;
}

.top ul:active{
 background: #3c79e1;
 border-top: #3368c2;
}

.center .logo{
	position: relative;
	top: 200px;
	width: 300px;
	margin-right: auto;
	margin-left:auto;
}
 
.logo img{ 
	width: 272px;
	height: 92px
}

.search{
    top: 220px;
    position:  relative;
    width:  650px;
    margin-left:  auto;
    margin-right:  auto;
}

.search input{
	width: 600px;
	height: 45px;
    box-shadow: 0px 1px 5px rgba(68,68,68,0.6);
    border:0;

}

.search input: hover{
	 box-shadow: 0px 2px 7px rgba(68,68,68,0.6);
}

.search input:focus{
   box-shadow: 0px 2px 7px rgba(68,68,68,0.6);
   outline: none;
}

.mainbtn{
 top: 260px;
 position: relative;
 width:350px;
 margin-left:auto; 
 margin-right:auto;
}

.mainbtn ul li{
	display: inline;
	margin: 0.4em;
	border-radius: 2px;
}

.mainbtn li a{
	color: #757575;
	font-weight:bold;
	list-style-type: none;
	text-decoration: none;
	font-family: Arial, sans-serif;
	background:#f1f1f1;
	border-radius: 2px;
	padding: 11.5px 13px;
}

.mainbtn li a:hover{
	background:#f4f4f4;
	color:black;
	box-shadow: 0px 0px 1px 0px black;
}

.simp{
	position: relative;
	top:300px;
	width: 250px;
	margin-left: auto;
	margin-right:auto;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

.simp p a{
	text-decoration: none;
}

.simp p a:hover{
	text-decoration: underline;
}

footer{
	bottom: 0;
	width: 100%;
	background: #f2f2f2;
	position:absolute;
	font-family: Arial, sans-serif;
	color: #66667b;
}

.country, .rule{
	height:40px;
	border-bottom: 1px solid #e4e4e4;
	border-top: : 1px solid #e4e4e4;
}

.country p, .bori,.bole{
	position: relative;
	top: 15px;
	font-size: 14px;
	padding: 0.3em;
	margin-left: 15px;
}

.bori li, .bole li{
	display: inline;
	text-decoration: none;
	list-style-type: none;
	font-size: 13px
}

.bori{
	float: right;
	margin-right: 15px;
}

.bole{
	float: left;

}

.bori li:hover, .bole li:hover{
	text-decoration: underline;
}

.bori li, .bole li{
	padding: 0px 0.9em;
	
}

.country p{
	padding: 0px 1.1em;
}